@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tsukimi+Rounded&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: #fbfeff;
  --black: #010c0e;
  --background: #ADD8E6;
  --blue1: #f7fcfd;
  --blue2: #d6eef5;
  --blue3: #b5e1ed;
  --blue4: #94d4e5;
  --blue5: #73c7de;
  --blue6: #52bad6;
  --blue7: #31acce;
  --blue8: #2991ad;
  --blue9: #21758c;
  --blue10: #1a5a6b;
  --blue11: #123e4a;
  --blue12: #0a2229;
  --yellow1: #fffef5;
  --yellow2: #fffacc;
  --yellow3: #fff6a3;
  --yellow4: #fff17a;
  --yellow5: #ffed52;
  --yellow6: #ffe929;
  --yellow7: #ffe500;
  --yellow8: #d6c000;
  --yellow9: #ad9c00;
  --yellow10: #857700;
  --yellow11: #5c5200;
  --yellow12: #332e00;
  --red1: #fef6f5;
  --red2: #fcd2cf;
  --red3: #faaea8;
  --red4: #f88981;
  --red5: #f6655b;
  --red6: #f44134;
  --red7: #f21d0d;
  --red8: #cb180b;
  --red9: #a41409;
  --red10: #7e0f07;
  --red11: #570a05;
  --red12: #300603;
  --green1: #f8fcf8;
  --green2: #dbf0dc;
  --green3: #bfe3c0;
  --green4: #a3d7a5;
  --green5: #86ca89;
  --green6: #6abe6d;
  --green7: #4db251;
  --green8: #419544;
  --green9: #357937;
  --green10: #285c2a;
  --green11: #1c401d;
  --green12: #0f2410;
  --purple1: #fcf7fd;
  --purple2: #f1d5f6;
  --purple3: #e6b4ee;
  --purple4: #db92e7;
  --purple5: #cf71e0;
  --purple6: #c450d8;
  --purple7: #b92ed1;
  --purple8: #9b27af;
  --purple9: #7e1f8e;
  --purple10: #60186d;
  --purple11: #43114b;
  --purple12: #25092a;
  --pink1: #fef6f9;
  --pink2: #fad1df;
  --pink3: #f7abc5;
  --pink4: #f386ab;
  --pink5: #f06191;
  --pink6: #ec3c78;
  --pink7: #e8175e;
  --pink8: #c3134f;
  --pink9: #9e0f40;
  --pink10: #790c31;
  --pink11: #540822;
  --pink12: #2e0513;
  --brown1: #fbf9f9;
  --brown2: #ece2df;
  --brown3: #ddccc5;
  --brown4: #ceb5ac;
  --brown5: #be9e92;
  --brown6: #af8779;
  --brown7: #a0705f;
  --brown8: #865e50;
  --brown9: #6d4c41;
  --brown10: #533a31;
  --brown11: #3a2822;
  --brown12: #201613;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Custom scrollbar styling for WebKit-based browsers */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  padding: 20px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 10, 37, 0.14);
  border-radius: 10px;
  padding: 4px;
  height: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.col-resize-cursor {
  cursor: col-resize;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px var(--blue) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: 900;
  font-size: 65px;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  font-weight: 800;
  font-size: 30px;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (max-width: 990px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 23px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}
